// Copyright (C) arrowthemes, http://www.gnu.org/licenses/gpl.html GNU/GPL */

@font-face {
	font-family: @global-sandal-icon;
	src:url('sandal.eot?d7yf1v');
	src:url('sandal.eot?#iefixd7yf1v') format('embedded-opentype'),
		url('sandal.woff?d7yf1v') format('woff'),
		url('sandal.ttf?d7yf1v') format('truetype'),
		url('sandal.svg?d7yf1v#sandal') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="uk-icon-7s-"], [class*=" uk-icon-7s-"] {
	display: inline-block;
	font-family: @global-sandal-icon;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.uk-icon-7s-album:before {content: "\e6aa";}
.uk-icon-7s-arc:before {content: "\e6ab";}
.uk-icon-7s-back-2:before {content: "\e6ac";}
.uk-icon-7s-bandaid:before {content: "\e6ad";}
.uk-icon-7s-car:before {content: "\e6ae";}
.uk-icon-7s-diamond:before {content: "\e6af";}
.uk-icon-7s-door-lock:before {content: "\e6b0";}
.uk-icon-7s-eyedropper:before {content: "\e6b1";}
.uk-icon-7s-female:before {content: "\e6b2";}
.uk-icon-7s-gym:before {content: "\e6b3";}
.uk-icon-7s-hammer:before {content: "\e6b4";}
.uk-icon-7s-headphones:before {content: "\e6b5";}
.uk-icon-7s-helm:before {content: "\e6b6";}
.uk-icon-7s-hourglass:before {content: "\e6b7";}
.uk-icon-7s-leaf:before {content: "\e6b8";}
.uk-icon-7s-magic-wand:before {content: "\e6b9";}
.uk-icon-7s-male:before {content: "\e6ba";}
.uk-icon-7s-map-2:before {content: "\e6bb";}
.uk-icon-7s-next-2:before {content: "\e6bc";}
.uk-icon-7s-paint-bucket:before {content: "\e6bd";}
.uk-icon-7s-pendrive:before {content: "\e6be";}
.uk-icon-7s-photo:before {content: "\e6bf";}
.uk-icon-7s-piggy:before {content: "\e6c0";}
.uk-icon-7s-plugin:before {content: "\e6c1";}
.uk-icon-7s-refresh-2:before {content: "\e6c2";}
.uk-icon-7s-rocket:before {content: "\e6c3";}
.uk-icon-7s-settings:before {content: "\e6c4";}
.uk-icon-7s-shield:before {content: "\e6c5";}
.uk-icon-7s-smile:before {content: "\e6c6";}
.uk-icon-7s-usb:before {content: "\e6c7";}
.uk-icon-7s-vector:before {content: "\e6c8";}
.uk-icon-7s-wine:before {content: "\e6c9";}
.uk-icon-7s-cloud-upload:before {content: "\e68a";}
.uk-icon-7s-cash:before {content: "\e68c";}
.uk-icon-7s-close:before {content: "\e680";}
.uk-icon-7s-bluetooth:before {content: "\e68d";}
.uk-icon-7s-cloud-download:before {content: "\e68b";}
.uk-icon-7s-way:before {content: "\e68e";}
.uk-icon-7s-close-circle:before {content: "\e681";}
.uk-icon-7s-id:before {content: "\e68f";}
.uk-icon-7s-angle-up:before {content: "\e682";}
.uk-icon-7s-wristwatch:before {content: "\e690";}
.uk-icon-7s-angle-up-circle:before {content: "\e683";}
.uk-icon-7s-world:before {content: "\e691";}
.uk-icon-7s-angle-right:before {content: "\e684";}
.uk-icon-7s-volume:before {content: "\e692";}
.uk-icon-7s-angle-right-circle:before {content: "\e685";}
.uk-icon-7s-users:before {content: "\e693";}
.uk-icon-7s-angle-left:before {content: "\e686";}
.uk-icon-7s-user-female:before {content: "\e694";}
.uk-icon-7s-angle-left-circle:before {content: "\e687";}
.uk-icon-7s-up-arrow:before {content: "\e695";}
.uk-icon-7s-angle-down:before {content: "\e688";}
.uk-icon-7s-switch:before {content: "\e696";}
.uk-icon-7s-angle-down-circle:before {content: "\e689";}
.uk-icon-7s-scissors:before {content: "\e697";}
.uk-icon-7s-wallet:before {content: "\e600";}
.uk-icon-7s-safe:before {content: "\e698";}
.uk-icon-7s-volume2:before {content: "\e601";}
.uk-icon-7s-volume1:before {content: "\e602";}
.uk-icon-7s-voicemail:before {content: "\e603";}
.uk-icon-7s-video:before {content: "\e604";}
.uk-icon-7s-user:before {content: "\e605";}
.uk-icon-7s-upload:before {content: "\e606";}
.uk-icon-7s-unlock:before {content: "\e607";}
.uk-icon-7s-umbrella:before {content: "\e608";}
.uk-icon-7s-trash:before {content: "\e609";}
.uk-icon-7s-tools:before {content: "\e60a";}
.uk-icon-7s-timer:before {content: "\e60b";}
.uk-icon-7s-ticket:before {content: "\e60c";}
.uk-icon-7s-target:before {content: "\e60d";}
.uk-icon-7s-sun:before {content: "\e60e";}
.uk-icon-7s-study:before {content: "\e60f";}
.uk-icon-7s-stopwatch:before {content: "\e610";}
.uk-icon-7s-star:before {content: "\e611";}
.uk-icon-7s-speaker:before {content: "\e612";}
.uk-icon-7s-signal:before {content: "\e613";}
.uk-icon-7s-shuffle:before {content: "\e614";}
.uk-icon-7s-shopbag:before {content: "\e615";}
.uk-icon-7s-share:before {content: "\e616";}
.uk-icon-7s-server:before {content: "\e617";}
.uk-icon-7s-search:before {content: "\e618";}
.uk-icon-7s-film:before {content: "\e6a5";}
.uk-icon-7s-science:before {content: "\e619";}
.uk-icon-7s-disk:before {content: "\e6a6";}
.uk-icon-7s-ribbon:before {content: "\e61a";}
.uk-icon-7s-repeat:before {content: "\e61b";}
.uk-icon-7s-refresh:before {content: "\e61c";}
.uk-icon-7s-add-user:before {content: "\e6a9";}
.uk-icon-7s-refresh-cloud:before {content: "\e61d";}
.uk-icon-7s-paperclip:before {content: "\e69c";}
.uk-icon-7s-radio:before {content: "\e61e";}
.uk-icon-7s-note2:before {content: "\e69d";}
.uk-icon-7s-print:before {content: "\e61f";}
.uk-icon-7s-network:before {content: "\e69e";}
.uk-icon-7s-prev:before {content: "\e620";}
.uk-icon-7s-mute:before {content: "\e69f";}
.uk-icon-7s-power:before {content: "\e621";}
.uk-icon-7s-medal:before {content: "\e6a0";}
.uk-icon-7s-portfolio:before {content: "\e622";}
.uk-icon-7s-like2:before {content: "\e6a1";}
.uk-icon-7s-plus:before {content: "\e623";}
.uk-icon-7s-left-arrow:before {content: "\e6a2";}
.uk-icon-7s-play:before {content: "\e624";}
.uk-icon-7s-key:before {content: "\e6a3";}
.uk-icon-7s-plane:before {content: "\e625";}
.uk-icon-7s-joy:before {content: "\e6a4";}
.uk-icon-7s-photo-gallery:before {content: "\e626";}
.uk-icon-7s-pin:before {content: "\e69b";}
.uk-icon-7s-phone:before {content: "\e627";}
.uk-icon-7s-plug:before {content: "\e69a";}
.uk-icon-7s-pen:before {content: "\e628";}
.uk-icon-7s-right-arrow:before {content: "\e699";}
.uk-icon-7s-paper-plane:before {content: "\e629";}
.uk-icon-7s-delete-user:before {content: "\e6a7";}
.uk-icon-7s-paint:before {content: "\e62a";}
.uk-icon-7s-bottom-arrow:before {content: "\e6a8";}
.uk-icon-7s-notebook:before {content: "\e62b";}
.uk-icon-7s-note:before {content: "\e62c";}
.uk-icon-7s-next:before {content: "\e62d";}
.uk-icon-7s-news-paper:before {content: "\e62e";}
.uk-icon-7s-musiclist:before {content: "\e62f";}
.uk-icon-7s-music:before {content: "\e630";}
.uk-icon-7s-mouse:before {content: "\e631";}
.uk-icon-7s-more:before {content: "\e632";}
.uk-icon-7s-moon:before {content: "\e633";}
.uk-icon-7s-monitor:before {content: "\e634";}
.uk-icon-7s-micro:before {content: "\e635";}
.uk-icon-7s-menu:before {content: "\e636";}
.uk-icon-7s-map:before {content: "\e637";}
.uk-icon-7s-map-marker:before {content: "\e638";}
.uk-icon-7s-mail:before {content: "\e639";}
.uk-icon-7s-mail-open:before {content: "\e63a";}
.uk-icon-7s-mail-open-file:before {content: "\e63b";}
.uk-icon-7s-magnet:before {content: "\e63c";}
.uk-icon-7s-loop:before {content: "\e63d";}
.uk-icon-7s-look:before {content: "\e63e";}
.uk-icon-7s-lock:before {content: "\e63f";}
.uk-icon-7s-lintern:before {content: "\e640";}
.uk-icon-7s-link:before {content: "\e641";}
.uk-icon-7s-like:before {content: "\e642";}
.uk-icon-7s-light:before {content: "\e643";}
.uk-icon-7s-less:before {content: "\e644";}
.uk-icon-7s-keypad:before {content: "\e645";}
.uk-icon-7s-junk:before {content: "\e646";}
.uk-icon-7s-info:before {content: "\e647";}
.uk-icon-7s-home:before {content: "\e648";}
.uk-icon-7s-help2:before {content: "\e649";}
.uk-icon-7s-help1:before {content: "\e64a";}
.uk-icon-7s-graph3:before {content: "\e64b";}
.uk-icon-7s-graph2:before {content: "\e64c";}
.uk-icon-7s-graph1:before {content: "\e64d";}
.uk-icon-7s-graph:before {content: "\e64e";}
.uk-icon-7s-global:before {content: "\e64f";}
.uk-icon-7s-gleam:before {content: "\e650";}
.uk-icon-7s-glasses:before {content: "\e651";}
.uk-icon-7s-gift:before {content: "\e652";}
.uk-icon-7s-folder:before {content: "\e653";}
.uk-icon-7s-flag:before {content: "\e654";}
.uk-icon-7s-filter:before {content: "\e655";}
.uk-icon-7s-file:before {content: "\e656";}
.uk-icon-7s-expand1:before {content: "\e657";}
.uk-icon-7s-expand2:before {content: "\e658";}
.uk-icon-7s-edit:before {content: "\e659";}
.uk-icon-7s-drop:before {content: "\e65a";}
.uk-icon-7s-drawer:before {content: "\e65b";}
.uk-icon-7s-download:before {content: "\e65c";}
.uk-icon-7s-display2:before {content: "\e65d";}
.uk-icon-7s-display1:before {content: "\e65e";}
.uk-icon-7s-diskette:before {content: "\e65f";}
.uk-icon-7s-date:before {content: "\e660";}
.uk-icon-7s-cup:before {content: "\e661";}
.uk-icon-7s-culture:before {content: "\e662";}
.uk-icon-7s-crop:before {content: "\e663";}
.uk-icon-7s-credit:before {content: "\e664";}
.uk-icon-7s-copy-file:before {content: "\e665";}
.uk-icon-7s-config:before {content: "\e666";}
.uk-icon-7s-compass:before {content: "\e667";}
.uk-icon-7s-comment:before {content: "\e668";}
.uk-icon-7s-coffee:before {content: "\e669";}
.uk-icon-7s-cloud:before {content: "\e66a";}
.uk-icon-7s-clock:before {content: "\e66b";}
.uk-icon-7s-check:before {content: "\e66c";}
.uk-icon-7s-chat:before {content: "\e66d";}
.uk-icon-7s-cart:before {content: "\e66e";}
.uk-icon-7s-camera:before {content: "\e66f";}
.uk-icon-7s-call:before {content: "\e670";}
.uk-icon-7s-calculator:before {content: "\e671";}
.uk-icon-7s-browser:before {content: "\e672";}
.uk-icon-7s-box2:before {content: "\e673";}
.uk-icon-7s-box1:before {content: "\e674";}
.uk-icon-7s-bookmarks:before {content: "\e675";}
.uk-icon-7s-bicycle:before {content: "\e676";}
.uk-icon-7s-bell:before {content: "\e677";}
.uk-icon-7s-battery:before {content: "\e678";}
.uk-icon-7s-ball:before {content: "\e679";}
.uk-icon-7s-back:before {content: "\e67a";}
.uk-icon-7s-attention:before {content: "\e67b";}
.uk-icon-7s-anchor:before {content: "\e67c";}
.uk-icon-7s-albums:before {content: "\e67d";}
.uk-icon-7s-alarm:before {content: "\e67e";}
.uk-icon-7s-airplay:before {content: "\e67f";}
