// Copyright (C) arrowthemes, http://www.gnu.org/licenses/gpl.html GNU/GPL */

@import 'https://fonts.googleapis.com/css?family=Nunito:300,400,700';

// Global variables
// ========================================================================

@global-style: 'carnation';

@global-color: #3B3B57;
@global-light-color: #ffffff;
@global-muted-color: #a8aeb6;
@global-dark-color: #101010;
@global-highlight-color: #FA505D;
@global-primary-color: #FA505D;
@global-primary-link-color: #FA505D;
@global-secondary-color: #b9b9b9;
@global-link-color: #FA505D;
@global-sub-title-color: #FA505D;
@global-heading-color: #3B3B57;
@global-background: #ffffff;

@global-body-font-family: 'Nunito';
@global-heading-font-family: 'Nunito';
@global-font-size: 16px;
@global-line-height: 32px;
@global-font-weight: 300;
@global-letter-spacing: 1px;
@global-heading-letter-space: -1px;
@global-heading-font-weight: 700;
@global-heading-text-transform: none;
@global-large-text-font-weight: 300;

@global-default-background: #FA505D;
@global-primary-background: #FA505D;
@global-secondary-background: #3B3B57;
@global-light-background: #EAF5FD;
@global-primary-light-background: #EAF5FD; 
@global-success-background: #a6c118;
@global-warning-background: #ff9926;
@global-danger-background: #da314b;

// Variables
// ========================================================================

//
// base
//

@base-code-color: #FA505D;
@base-pre-background: @global-transparent;
@base-pre-color: #707070;

//
// Navbar
//

@navbar-nav-font-weight: 400;
@navbar-nav-font-size: 16px;

//
// panel
//

@panel-box-primary-color: #ffffff;
@panel-box-primary-title-color: #ffffff;
@panel-box-primary-color: @global-contrast-color;
@panel-box-primary-title-color: @global-contrast-color;

// Theme global variables
// ==========================================================================

@theme-canvas-background: #f9f9f9;
@theme-canvas-background-image: 'none';
@theme-canvas-border-color: #FA505D;
@theme-container-background: #ffffff;
@theme-container-border-color: rgba(0, 0, 0, 0.05);

@global-headerbar-color: #ffffff;
@global-header-background: #3B3B57;
@global-headerbar-heading-font-weight: 700;
@global-headerbar-panel-background: #3DB8D6;
@global-headerbar-panel-color: #ffffff;
@global-headerbar-panel-icon-color: #ffffff;

@theme-toolbar-background: #FA505D;
@theme-toolbar-color: #ffffff;
@theme-toolbar-link-color: #ffffff;
@theme-toolbar-hover-color: #3B3B57;
@theme-toolbar-icon-color: #ffffff;

@theme-menubar-background: #3DB8D6;
@theme-menubar-sticky-background: #3DB8D6;
@theme-menubar-color: #ffffff;
@theme-menubar-sticky-color: #ffffff;
@theme-menubar-active-item-background: #FA505D;
@theme-menubar-active-item-color: #ffffff;
@theme-menubar-dropdown-background: #FA505D;
@theme-menuitem-color: #ffffff;
@theme-menuitem-hover-background: #3B3B57;
@theme-menuitem-hover-color: #ffffff;
@theme-menuitem-transparent-active-color: #FA505D;

@theme-slideshow-text-color: #3B3B57;
@theme-slideshow-nav-color: #3B3B57;
@theme-slideshow-nav-hover-color: #3B3B57;

@theme-rating-color: #FA505D;