// Copyright (C) arrowthemes, http://www.gnu.org/licenses/gpl.html GNU/GPL */

@import 'https://fonts.googleapis.com/css?family=Kanit:200,300,500';
@import 'https://fonts.googleapis.com/css?family=Varela';

// Global variables
// ========================================================================

@global-style: 'malta';

@global-color: #C1C1C1;
@global-light-color: #ffffff;
@global-light-border: #525252;
@global-muted-color: #a8aeb6;
@global-dark-color: #101010;
@global-highlight-color: #202020;
@global-primary-color: #af9a7d;
@global-primary-link-color: #ffffff;
@global-secondary-color: #b9b9b9;
@global-link-color: #af9a7d;
@global-sub-title-color: #ffffff;
@global-heading-color: #ffffff;
@global-background: #333333;

@global-body-font-family: 'Varela';
@global-heading-font-family: 'Kanit';
@global-font-size: 16px;
@global-line-height: 32px;
@global-font-weight: 400;
@global-letter-spacing: 2px;
@global-heading-letter-space: -0.5px;
@global-heading-font-weight: 500;
@global-heading-text-transform: none;
@global-large-text-font-weight: 200;

@global-default-background: #202020;
@global-primary-background: #af9a7d;
@global-secondary-background: #2b2b2b;
@global-light-background: #404040;
@global-primary-light-background: #404040; 
@global-success-background: #a6c118;
@global-warning-background: #ff9926;
@global-danger-background: #da314b;

// Variables
// ========================================================================

//
// base
//

@base-code-color: #cecece;
@base-pre-background: #272727;
@base-pre-color: #949494;

// 
// Nav
// 

@nav-offcanvas-hover-color: #808080;
@nav-side-divider-border: #444444;

//
// Navbar
//

@navbar-nav-font-weight: 400;
@navbar-nav-font-size: 17px;

//
// panel
//

@panel-box-primary-color: #ffffff;
@panel-box-primary-title-color: #ffffff;
@panel-box-primary-color: @global-contrast-color;
@panel-box-primary-title-color: @global-contrast-color;
@panel-box-secondary-color: #bbbbbb;

//
// block
//

@block-primary-base-link-color: #af9a7d;
@block-primary-base-link-hover-color: #505050;
@block-secondary-base-link-color: #af9a7d;
@block-secondary-base-link-hover-color: #505050;

// Theme global variables
// ==========================================================================

@theme-canvas-background: #272727;
@theme-canvas-background-image: 'rough';
@theme-canvas-border-color: #98866d;
@theme-container-background: #272727;
@theme-container-border-color: rgba(0, 0, 0, 0.05);

@global-headerbar-color: #d0d0d0;
@global-headerbar-panel-color: #d0d0d0;
@global-header-background: #333333;
@global-headerbar-heading-font-weight: 500;

@theme-toolbar-background: #af9a7d;
@theme-toolbar-color: #6b5d4a;
@theme-toolbar-link-color: #ffffff;
@theme-toolbar-hover-color: #6b5d4a;
@theme-toolbar-icon-color: #ffffff;

@theme-menubar-background: #333333;
@theme-menubar-sticky-background: #333333;
@theme-menubar-color: #ffffff;
@theme-menubar-sticky-color: #ffffff;
@theme-menubar-active-item-background: #af9a7d;
@theme-menubar-active-item-color: #ffffff;
@theme-menubar-dropdown-background: #af9a7d;
@theme-menuitem-color: #ffffff;
@theme-menuitem-hover-background: #333333;
@theme-menuitem-hover-color: #ffffff;
@theme-menuitem-transparent-active-color: #af9a7d;

@theme-slideshow-text-color: #C1C1C1;
@theme-slideshow-nav-color: #ffffff;
@theme-slideshow-nav-hover-color: #af9a7d;
@theme-slideshow-nav-background: #af9a7d;

@theme-rating-color: #202020;

@theme-pricing-table-icon: #969696;