// Copyright (C) arrowthemes, http://www.gnu.org/licenses/gpl.html GNU/GPL */

@import 'https://fonts.googleapis.com/css?family=Exo+2:300,500,600';
@import 'https://fonts.googleapis.com/css?family=Varela';

// Global variables
// ========================================================================

@global-style: 'coral';

@global-color: #2C3B56;
@global-light-color: #ffffff;
@global-muted-color: #a8aeb6;
@global-dark-color: #101010;
@global-highlight-color: #FB633D;
@global-primary-color: #FB633D;
@global-primary-link-color: #FB633D;
@global-secondary-color: #b9b9b9;
@global-link-color: #FB633D;
@global-sub-title-color: #FB633D;
@global-heading-color: #2C3B56;
@global-background: #ffffff;

@global-body-font-family: 'Varela';
@global-heading-font-family: 'Exo 2';
@global-font-size: 16px;
@global-line-height: 32px;
@global-font-weight: 400;
@global-letter-spacing: 2px;
@global-heading-letter-space: 0;
@global-heading-font-weight: 600;
@global-heading-text-transform: none;
@global-large-text-font-weight: 300;

@global-default-background: #FB633D;
@global-primary-background: #FB633D;
@global-secondary-background: #2C3B56;
@global-light-background: #DAEEFF;
@global-primary-light-background: #DAEEFF; 
@global-success-background: #a6c118;
@global-warning-background: #ff9926;
@global-danger-background: #da314b;

// Variables
// ========================================================================

//
// base
//

@base-code-color: #FB633D;
@base-pre-background: @global-transparent;
@base-pre-color: #707070;

//
// Navbar
//

@navbar-nav-font-weight: 400;
@navbar-nav-font-size: 16px;

// 
// button
// 

@button-background: #30BDFB;

//
// panel
//

@panel-box-primary-color: #ffffff;
@panel-box-primary-title-color: #ffffff;
@panel-box-primary-color: @global-contrast-color;
@panel-box-primary-title-color: @global-contrast-color;

// Theme global variables
// ==========================================================================

@theme-canvas-background: #5F7388;
@theme-canvas-background-image: 'diagonal';
@theme-canvas-border-color: #2C3B56;
@theme-container-background: #ffffff;
@theme-container-border-color: rgba(0, 0, 0, 0.05);

@global-headerbar-color: #2C3B56;
@global-header-background: #ffffff;
@global-headerbar-heading-font-weight: 600;

@theme-toolbar-background: #FB633D;
@theme-toolbar-color: #ffffff;
@theme-toolbar-link-color: #ffffff;
@theme-toolbar-hover-color: #2C3B56;
@theme-toolbar-icon-color: #ffffff;

@theme-menubar-background: #ffffff;
@theme-menubar-sticky-background: #ffffff;
@theme-menubar-color: #2C3B56;
@theme-menubar-sticky-color: #2C3B56;
@theme-menubar-active-item-background: #FB633D;
@theme-menubar-active-item-color: #ffffff;
@theme-menubar-dropdown-background: #2C3B56;
@theme-menuitem-color: #ffffff;
@theme-menuitem-hover-background: #FB633D;
@theme-menuitem-hover-color: #ffffff;
@theme-menuitem-transparent-active-color: #FB633D;

@theme-slideshow-text-color: #2C3B56;
@theme-slideshow-nav-color: #2C3B56;
@theme-slideshow-nav-hover-color: #2C3B56;

@theme-rating-color: #FB633D;