// Copyright (C) arrowthemes, http://www.gnu.org/licenses/gpl.html GNU/GPL */

@import 'https://fonts.googleapis.com/css?family=Dosis:300,400,600';
@import 'https://fonts.googleapis.com/css?family=Varela';

// Global variables
// ========================================================================

@global-style: 'salmon';

@global-color: #333333;
@global-light-color: #ffffff;
@global-muted-color: #a8aeb6;
@global-dark-color: #101010;
@global-highlight-color: #e73939;
@global-primary-color: #e73939;
@global-primary-link-color: #e73939;
@global-secondary-color: #b9b9b9;
@global-link-color: #e73939;
@global-sub-title-color: #e73939;
@global-heading-color: #333333;
@global-background: #ffffff;

@global-body-font-family: 'Varela';
@global-heading-font-family: 'Dosis';
@global-font-size: 16px;
@global-line-height: 32px;
@global-font-weight: 400;
@global-letter-spacing: 2px;
@global-heading-letter-space: -0.5px;
@global-heading-font-weight: 400;
@global-heading-text-transform: none;
@global-large-text-font-weight: 300;

@global-default-background: #e73939;
@global-primary-background: #e73939;
@global-secondary-background: #3b4656;
@global-light-background: #f9f9f9;
@global-primary-light-background: #f9f9f9; 
@global-success-background: #a6c118;
@global-warning-background: #ff9926;
@global-danger-background: #da314b;

// Variables
// ========================================================================

//
// base
//

@base-code-color: #e73939;
@base-pre-background: @global-transparent;
@base-pre-color: #707070;

//
// Navbar
//

@navbar-nav-font-weight: 400;
@navbar-nav-font-size: 16px;
@theme-navbar-more-color: #ffffff;
@theme-navbar-more-border-color: #ffffff;

//
// panel
//

@panel-box-primary-color: #ffffff;
@panel-box-primary-title-color: #ffffff;
@panel-box-primary-color: @global-contrast-color;
@panel-box-primary-title-color: @global-contrast-color;

// Theme global variables
// ==========================================================================

@theme-canvas-background: #2b333e;
@theme-canvas-background-image: 'none';
@theme-canvas-border-color: #e73939;
@theme-container-background: #ffffff;
@theme-container-border-color: rgba(0, 0, 0, 0.05);

@global-headerbar-color: #ffffff;
@global-header-background: #e73939;
@global-headerbar-panel-color: #333333;
@global-headerbar-heading-font-weight: 600;

@theme-toolbar-background: #3b4656;
@theme-toolbar-color: #f3efec;
@theme-toolbar-link-color: #f3efec;
@theme-toolbar-hover-color: #ffffff;
@theme-toolbar-icon-color: #f3efec;

@theme-menubar-background: #3b4656;
@theme-menubar-sticky-background: #3b4656;
@theme-menubar-color: #ffffff;
@theme-menubar-sticky-color: #ffffff;
@theme-menubar-active-item-background: #e73939;
@theme-menubar-active-item-color: #ffffff;
@theme-menubar-dropdown-background: #3b4656;
@theme-menuitem-color: #ffffff;
@theme-menuitem-hover-background: #e73939;
@theme-menuitem-hover-color: #ffffff;
@theme-menuitem-transparent-active-color: #ffcbcb;

@theme-slideshow-text-color: #333333;
@theme-slideshow-nav-color: #e73939;
@theme-slideshow-nav-hover-color: #e73939;

@theme-rating-color: #e73939;