// Copyright (C) arrowthemes, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Badge
//
// ========================================================================


// Variables
// ========================================================================

@badge-background:                              @global-transparent;
@badge-padding-horizontal:                      10px;
@badge-font-size:                               round((@global-font-size * 0.75)); // 12px
@badge-font-weight:                             300;
@badge-line-height:                             round((@badge-font-size * 2)); // 28px
@badge-color:                                   @global-primary-background;
@badge-text-transform:                          lowercase;

@badge-notification-font-size:                  round((@global-font-size * 0.85)); // 12px
@badge-notification-line-height:                round((@badge-notification-font-size * 1.5)); // 18px

@badge-success-background:                      @global-transparent;
@badge-warning-background:                      @global-transparent;
@badge-danger-background:                       @global-transparent;


// Component
// ========================================================================

.hook-badge() {
	border-radius: @global-border-radius;
	border: 1px solid @global-primary-background;
	text-transform: uppercase;
	letter-spacing: 1px;
}


// Color modifier
// ========================================================================

//
// Modifier: `badge-success`
//

.hook-badge-success() {
	border: 1px solid @global-success-background;
	color: @global-success-background;
}

//
// Modifier: `badge-warning`
//

.hook-badge-warning() {
	border: 1px solid @global-warning-background;
	color: @global-warning-background;
}

//
// Modifier: `badge-danger`
//

.hook-badge-danger() {
	border: 1px solid @global-danger-background;
	color: @global-danger-background;
}



// Miscellaneous
// ========================================================================

.hook-badge-misc() {

	.uk-badge-notification {
		padding: 0 6px;
	}
	
}
