// Copyright (C) arrowthemes, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Close
//
// ========================================================================


// Component
// ========================================================================

.hook-close() {
	opacity: 1;
}


// Modifier: `uk-close-alt`
// ========================================================================

.hook-close-alt() {
	background-color: @global-background;
	padding: 5px;
}


// Miscellaneous
// ========================================================================

.hook-close-misc() {

	.uk-alert .uk-close:after {
		margin-top: 5px;
	}
}