// Copyright (C) arrowthemes, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Contrast
//
// ========================================================================


// Variables
// ========================================================================

@contrast-inverted-color:                       @global-contrast-color;

//
// Components
//

@contrast-icon-button-background:               @global-transparent;
@contrast-icon-button-color:                    @global-contrast-color;
@contrast-icon-button-hover-background:         fade(@global-contrast-color, 10%);
@contrast-icon-button-active-background:        @global-transparent;
@contrast-icon-button-active-color:             @global-contrast-color;

@contrast-icon-button-border:                   @global-contrast-color;
@contrast-icon-button-active-border:            @global-contrast-color;

@contrast-base-blockquote-color:                @global-contrast-color;
@contrast-article-lead-color:                   @global-contrast-color;

@contrast-button-primary-background:			@button-primary-background;
@contrast-button-primary-hover-background:		@button-primary-hover-background;
@contrast-button-primary-active-background:		@button-primary-active-background;

@contrast-text-primary-color:					@global-primary-color;

// Base
// ========================================================================

.hook-contrast-base-code() {}


// Nav
// ========================================================================

.hook-contrast-nav-side() {}
.hook-contrast-nav-side-hover() {}
.hook-contrast-nav-side-active() {}
.hook-contrast-nav-side-header() {}
.hook-contrast-nav-side-divider() {}


// Subnav
// ========================================================================

.hook-contrast-subnav() {}
.hook-contrast-subnav-hover() {}
.hook-contrast-subnav-active() {}
.hook-contrast-subnav-line-divider() {}
.hook-contrast-subnav-pill-hover() {}
.hook-contrast-subnav-pill-active() {}


// List
// ========================================================================

.hook-contrast-list-line() {}

// Form
// ========================================================================

.hook-contrast-form() {}
.hook-contrast-form-focus() {}


// Button
// ========================================================================

.hook-contrast-button() {}
.hook-contrast-button-hover() {}
.hook-contrast-button-active() {}
.hook-contrast-button-primary() {}
.hook-contrast-button-primary-hover() {}
.hook-contrast-button-primary-active() {}


// Icon
// ========================================================================

.hook-contrast-icon-hover() {}
.hook-contrast-icon-hover-hover() {}
.hook-contrast-icon-button() { border-color: @contrast-icon-button-border; }
.hook-contrast-icon-button-hover() { border-color: @contrast-icon-button-border; }
.hook-contrast-icon-button-active() { border-color: @contrast-icon-button-active-border; }


// Miscellaneous
// ========================================================================

.hook-contrast-misc() {

    blockquote { color: @contrast-base-blockquote-color; }

   	.uk-article-lead { color: @contrast-article-lead-color; }

   	.uk-module-title:after { border-bottom-color: @global-contrast-color; }

   	.uk-button-line, 
   	.uk-button.uk-button-line { 
   		border-color: @global-contrast-color; 
   	}

}