// Copyright (C) arrowthemes, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Form password
//
// ========================================================================


// Variables
// ========================================================================

@form-password-font-size:                       @global-font-size - 1px;
@form-password-line-height:                     @form-password-font-size;
@form-password-color:                           @global-muted-color;
@form-password-hover-color:                     @global-color;
@form-passsword-toggle-margin:                  (@global-height / 2);


// Miscellaneous
// ========================================================================

.hook-form-password-misc() {

    // Toggle position
    .uk-form-password-toggle { right: @form-passsword-toggle-margin; }

}