// Copyright (C) arrowthemes, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Grid
//
// ========================================================================


// Variables
// ========================================================================

@grid-gutter-horizontal:                        @global-grid-gutter;
@grid-gutter-vertical:                          @global-grid-gutter;

@grid-gutter-large-horizontal:                  @global-grid-gutter-large;
@grid-gutter-large-vertical:                    @global-grid-gutter-large;

@grid-divider-border:                           rgba(0,0,0,0.1);
@grid-divider-box-shadow: 						rgba(255,255,255,0.05);

// Miscellaneous
// ========================================================================

.hook-grid-misc() {

	.uk-grid-divider:empty {
		border-top: @grid-divider-border-width dashed @grid-divider-border;
	}

	/*
	 * Horizontal divider
	 */

	.uk-grid-divider > [class*='uk-width-1-']:not(.uk-width-1-1):nth-child(n+2),
	.uk-grid-divider > [class*='uk-width-2-']:nth-child(n+2),
	.uk-grid-divider > [class*='uk-width-3-']:nth-child(n+2),
	.uk-grid-divider > [class*='uk-width-4-']:nth-child(n+2),
	.uk-grid-divider > [class*='uk-width-5-']:nth-child(n+2),
	.uk-grid-divider > [class*='uk-width-6-']:nth-child(n+2),
	.uk-grid-divider > [class*='uk-width-7-']:nth-child(n+2),
	.uk-grid-divider > [class*='uk-width-8-']:nth-child(n+2),
	.uk-grid-divider > [class*='uk-width-9-']:nth-child(n+2) { box-shadow: inset 1px 0 0 @grid-divider-box-shadow; }

	/* Tablet and bigger */
	@media (min-width: @breakpoint-medium) {

	    .uk-grid-divider > [class*='uk-width-medium-']:not(.uk-width-medium-1-1):nth-child(n+2) { box-shadow: inset 1px 0 0 @grid-divider-box-shadow; }

	}

	/* Desktop and bigger */
	@media (min-width: @breakpoint-large) {

	    .uk-grid-divider > [class*='uk-width-large-']:not(.uk-width-large-1-1):nth-child(n+2) { box-shadow: inset 1px 0 0 @grid-divider-box-shadow; }

	}
	
}