// Copyright (C) arrowthemes, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Icon
//
// ========================================================================


// Variables
// ========================================================================

@icon-hover-color:                              @global-color;
@icon-hover-hover-color:                        @global-link-color;

@icon-button-width:								30px;
@icon-button-height:                            @icon-button-width;
@icon-button-font-size:                         20px;
@icon-button-background:                        @global-transparent;
@icon-button-color:                             @global-color;

@icon-button-hover-background:                  rgba(0, 0, 0, 0);
@icon-button-hover-color:                       @global-primary-color;

@icon-button-active-background:                 rgba(0, 0, 0, 0);
@icon-button-active-color:                      @icon-button-hover-color;


// Modifier: `uk-icon-hover`
// ========================================================================

.hook-icon-hover() {}

.hook-icon-hover-hover() {}


// Modifier: `uk-icon-button`
// ========================================================================

.hook-icon-button() {
	width: 35px;
	height: 35px;
	font-weight: bold;
	line-height: 35px;
	-webkit-transition: @global-transition;
			transition: @global-transition;
}

// Hover
.hook-icon-button-hover() {}

// Active
.hook-icon-button-active() {}


// Miscellaneous
// ========================================================================

.hook-icon-misc() {
	.tm-icon-large {
		font-size: 50px;
	}
}