// Copyright (C) arrowthemes, http://www.gnu.org/licenses/gpl.html GNU/GPL */

//
// Component: Progress
//
// ========================================================================


// Variables
// ========================================================================

@progress-margin-vertical:                      @global-margin;
@progress-background:                           @global-light-background;

@progress-bar-background:                       @global-primary-background;
@progress-bar-font-size:                        round((@global-font-size * 0.85)); // 12px
@progress-bar-color:                            @global-contrast-color;

@progress-bar-success-background:               @global-success-background;
@progress-bar-warning-background:               @global-warning-background;
@progress-bar-danger-background:                @global-danger-background;




// Component
// ========================================================================

.hook-progress() {
	border-radius: 20px;
	padding: 5px;
	height: 30px;
	box-shadow: inset 0 0 0 1px @global-light-border;
}


// Sub-object: `progress-bar`
// ========================================================================

.hook-progress-bar() {
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
	.gradient(@progress-bar-background, @global-light-glow, @global-transparent);
	border-radius: 10px;
}


// Color modifiers
// ========================================================================

.hook-progress-bar-success() {}

.hook-progress-bar-warning() {}

.hook-progress-bar-danger() {}


// Miscellaneous
// ========================================================================

.hook-progress-misc() {

	.uk-progress {
		&.uk-progress-mini {padding: 1px;}
		&.uk-progress-small {padding: 3px;}
	}
}