// Copyright (C) arrowthemes, http://www.gnu.org/licenses/gpl.html GNU/GPL */

@import 'https://fonts.googleapis.com/css?family=Varela';
@import 'https://fonts.googleapis.com/css?family=Exo+2:300,500,600';

// Internal Global variables
// ==========================================================================

@global-style: 'default';
@global-body-font-family: 'Varela';
@global-heading-font-family: 'Exo 2';