// Copyright (C) arrowthemes, http://www.gnu.org/licenses/gpl.html GNU/GPL */

@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Varela+Round';

// Global variables
// ========================================================================

@global-style: 'pink';

@global-color: #241A3E;
@global-light-color: #ffffff;
@global-muted-color: #a8aeb6;
@global-dark-color: #1a1a10;
@global-highlight-color: #80A52B;
@global-primary-color: #80A52B;
@global-primary-link-color: #80A52B;
@global-secondary-color: #ffffff;
@global-link-color: #80A52B;
@global-sub-title-color: #80A52B;
@global-heading-color: #241A3E;
@global-background: #fffffb;

@global-body-font-family: 'Varela Round';
@global-heading-font-family: 'Montserrat';
@global-font-size: 16px;
@global-line-height: 32px;
@global-font-weight: 400;
@global-letter-spacing: 2px;
@global-heading-letter-space: -1px;
@global-heading-font-weight: 700;
@global-heading-text-transform: none;
@global-large-text-font-weight: 400;

@global-default-background: #80A52B;
@global-primary-background: #80A52B;
@global-secondary-background: #502384;
@global-light-background: #F9F9EC;
@global-primary-light-background: #F9F9EC; 
@global-success-background: #84c118;
@global-warning-background: #ff9926;
@global-danger-background: #ec0000;

// Variables
// ========================================================================

//
// base
//

@base-code-color: #80A52B;
@base-pre-background: @global-transparent;
@base-pre-color: #707070;

//
// Navbar
//

@navbar-nav-font-weight: 400;
@navbar-nav-font-size: 16px;
@theme-navbar-more-color: #ffffff;
@theme-navbar-more-border-color: #ffffff;

//
// panel
//

@panel-box-primary-color: #ffffff;
@panel-box-primary-title-color: #ffffff;
@panel-box-primary-color: @global-contrast-color;
@panel-box-primary-title-color: @global-contrast-color;

// Theme global variables
// ==========================================================================

@theme-canvas-background: #36285D;
@theme-canvas-background-image: 'none';
@theme-canvas-border-color: #502384;
@theme-container-background: #ffffff;
@theme-container-border-color: rgba(0, 0, 0, 0.05);

@global-headerbar-color: #ffffff;
@global-header-background: #80A52B;
@global-headerbar-heading-font-weight: 700;

@theme-toolbar-background: #4f3a89;
@theme-toolbar-color: #ffffff;
@theme-toolbar-link-color: #BDA5FF;
@theme-toolbar-hover-color: #ffffff;
@theme-toolbar-icon-color: #BDA5FF;

@theme-menubar-background: #502384;
@theme-menubar-sticky-background: #502384;
@theme-menubar-color: #ffffff;
@theme-menubar-sticky-color: #ffffff;
@theme-menubar-active-item-background: #80A52B;
@theme-menubar-active-item-color: #ffffff;
@theme-menubar-dropdown-background: #502384;
@theme-menuitem-color: #ffffff;
@theme-menuitem-hover-background: #80A52B;
@theme-menuitem-hover-color: #ffffff;
@theme-menuitem-transparent-active-color: #3D482D;

@theme-slideshow-text-color: #291C36;
@theme-slideshow-nav-color: #291C36;
@theme-slideshow-nav-hover-color: #291C36;

@theme-rating-color: #80A52B;